/* .auth-modal-class{
    display: "flex";
    align-items: "center";
    justify-content: "center";
}

.main-fadin-class{
    width: 400;
    background-color: white;
    color: "white";
    border-radius: 10;
} */
